/* imports */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');


/* variables */

:root {
    /* --primaryColor: #3fd0d4; */
    --primaryColor: #CE1126;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #afafaf;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 1px;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  }


* {
    /* border: red 0.5px solid; */
    font-family: 'Playfair Display', 'Roboto', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.4;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* margin-bottom: 1.25rem; */
  /* letter-spacing: var(--mainSpacing); */
}


/* general classes */

.full-screen-width {
    width: 100vw;
}

.full-width{
    width: 100%;
}

.list-no-dec {
    list-style: none;
}

/* flex boxes */

.column-evenly-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.row-evenly-center{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.row-between-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row-evenly-start {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}