.container {
    width: 80%;
    margin: 10px 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.image{
    width: 64vw;
    min-height: 40vw;
} 

.container h1{
    margin: 10px 0;
}

.container p {
    width: 64vw;
    margin: 10px 0;
}