.container {
    width: 80%;
    margin: 10px 10vw;
}

.container > h1 {
    margin: 20px 80px;
    font-size: 45px;
    font-style: italic;
}

.presentation {
    margin: 20px 80px;
    line-height: 1.7;
    font-size: 19px;
}

.presentation:before{
    /* content: '\00a0 \00a0 \00a0 \00a0 \00a0'; */
}

.legend {
    font-style: italic;
}

.date-and-author {
    margin: 20px 0;
    font-size: 19px;
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--darkGrey);
    border-bottom: 1px solid var(--darkGrey);
    padding: 5px;
}

.author-span:hover{
    text-decoration: underline;
}


.author-span:not(:last-child):after{
    content:', ';
}

article > * {
    margin: 20px 80px;
    font-size: 19px;
    line-height: 1.7;
}

article p:before {
    /* content: "\00a0 \00a0 \00a0 \00a0 \00a0"; */
}

.article a {
    text-decoration: underline;  
}

.signature {
    border: none;
    width: 100%;
    text-align: start;
    margin: 20px 0;
    font-size: 19px;
    font-style: italic;
    margin-left: 80px;
}

@media screen and (max-width: 640px) {

    .container {
        width: 90%;
        margin: 10px 5vw;
    }

    .container > h1 {
        margin: 10px ;
        font-size: 25px;
    }

    .presentation {
        margin: 20px 0;
    }
    
    .container > p:first-of-type {
        font-size: 15px;
    }

    article * {
        margin: 20px 0;
        font-size: 19px;
    }

    .signature {
        margin-left: 0;
    }
}

