/* component */

.auteur-section{
    border: 0.5px var(--darkGrey) solid;
    height: 200px;
    /* width: 100%; */
    padding: 10px 40px;
    margin: 20px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.image-div {
    background-color: black;
    border-radius: 90px;
    height: 180px;
    min-height: 180px;
    width: 180px;
    min-width: 180px;
}

.content-div {
    width: calc(80vw - 240px - 180px - 80px);
    padding: 0 40px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.content-div h4 {
    margin: 5px 0;
}

.content-div h4:hover {
    text-decoration: underline;
}

@media screen and (max-width: 640px) {
    .auteur-section {
        height: fit-content;
        margin: 20px 0;
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }
    .image-div{
        height: 130px;
        width: 130px;
    }
    .content-div {
        width: 100%;
        padding: 0 10px 0 10px;
    }
}

/* page-template */

.main-div {
    width: 90%;
    margin: 20px 5%;
}

