.nav-menu {
    border-top: 0.5px black solid;
    border-bottom: 3px black solid;
    border-left: 0.5px solid var(--mainGrey);
    border-right: 0.5px solid var(--mainGrey);
    width: 80%;
}

.main-title {
    text-transform: uppercase;
    margin-top: 30px;
}

.main-description {
    margin-top: 10px;
    margin-bottom: 50px;
}

.logo-div{
    height: 70px;
    width: 120px;
    margin-left: 10vw;
}

.social-media-div{
    margin-right: 10vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.icon{
    font-size: 25px;
    margin: 0 10px;
}

.icon:hover{
    transform: translateY(-5px);
    color: rgb(210, 16, 52);
    transition: 0.3s linear;
}

.mediapart{
    height: 30px;
    width: 40px;
    margin: 0 10px;
    background-image: url('./../images/mediapart.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.mediapart:hover{
    background-image: url('./../images/mediapartrouge.png');
    transform: translateY(-5px);
    transition: 0.3s linear;
}

.nav-link{
    margin: 15px 0;
}

.nav-link > a {
    transition: var(--mainTransition)
}

.nav-link:hover > a{
    /* color: var(--darkGrey); */
    font-weight: bolder;
    cursor: pointer;
}