.nav-menu {
    border-top: 0.5px black solid;
    border-bottom: 3px black solid;
    border-left: 0.5px solid var(--mainGrey);
    border-right: 0.5px solid var(--mainGrey);
    width: 80%;
}

.main-title {
    text-transform: uppercase;
    margin-top: 30px;
}

.main-description {
    margin-top: 10px;
    margin-bottom: 50px;
}

.logo-div{
    height: 80px;
    width: 120px;
    margin-left: 10vw;
}

.logo-div > div {
    height: 100%;
}

.main-titles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-media-and-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.social-media-div{
    margin-right: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.contact {
    margin-right: 10vw;
}

.contact:hover{
    text-decoration: underline;
}

.icon{
    font-size: 25px;
    margin: 0 10px;
}

.icon:hover{
    transform: translateY(-5px);
    color: rgb(210, 16, 52);
    transition: 0.3s linear;
}

.mediapart{
    height: 30px;
    width: 40px;
    margin: 0 10px;
    background-image: url('./../images/mediapart.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.mediapart:hover{
    background-image: url('./../images/mediapartrouge.png');
    transform: translateY(-5px);
    transition: 0.3s linear;
}

.icon-link{
    height: 25px;
}

.nav-links{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link{
    margin: 15px 0;
}

.nav-link > a {
    transition: var(--mainTransition)
}

.nav-link:hover > a{
    /* color: var(--darkGrey); */
    font-weight: bolder;
    cursor: pointer;
}

.logo-btn {
    background: transparent;
    border: none;
    outline: none;
    display: none;
}

.logo-btn:hover {
    cursor: pointer;
  }


  @media screen and (max-width: 640px) {

    .main-title {
        text-transform: uppercase;
        margin-top: 24px;
    }
    
    .main-description {
        margin-top: 5px;
        margin-bottom: 15px;
    }


    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .logo-btn{
        display: block;
        margin: 5px;
    }

    .hidden-links {
        display: none;
    }

    .nav-links-toggled {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 216px;
    }

    .nav-link{
        margin: 5px 0;
    }

    .social-media-div{
        display: none;
    }

    .logo-div{
        margin-left: 5vw;
    }

    .main-titles {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
    }
  }