.nav-menu {
    border-top: 0.5px black solid;
    border-bottom: 3px black solid;
    border-left: 0.5px solid var(--mainGrey);
    border-right: 0.5px solid var(--mainGrey);
    width: 80%;
}

.main-title {
    text-transform: uppercase;
    margin-top: 30px;
}

.main-description {
    margin-top: 10px;
    margin-bottom: 50px;
}

.logo-div{
    height: 70px;
    width: 120px;
    margin-left: 10vw;
}

.social-media-div{
    width: 100px;
    margin-right: 10vw;
}

.nav-link{
    margin: 15px 0;
}

.nav-link > a {
    transition: var(--mainTransition)
}

.nav-link:hover > a{
    /* color: var(--darkGrey); */
    font-weight: bolder;
    cursor: pointer;
}